body {
  margin: 0;
  background-image: url(../public/space.jpeg);
  color: white;
}

.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

button {
  display: flex;
  background-color: transparent;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  color: white;
  border: 3px white solid;
  border-radius: 1em;
  padding: 1em;
  cursor: pointer;
}

button:hover {
  transition-duration: 0.1s;
  box-shadow: 0px 0px 10px black;
  /* transform: scale(1.01); */
}

#ui {
  position: absolute;
  display: flex;
  gap: 10px;
  top: -20px;
  left: 10px;
}

/* Planet Component */

#closeup-planet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 90vh;
}

.player,
.enemy {
  position: absolute;
  height: 10%;
  filter: drop-shadow(-1px 2px 2px #222);
}

.planet {
  filter: drop-shadow(-10px 10px 5px black);
  width: 100%;
  height: 0%;
  object-fit: contain;
}

.player {
  top: 40%;
  left: 40%
}

.enemy {
  top: 50%;
  left: 55%;
}

/* Quiz Component */

#quiz-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 1%;
}

#quiz-wing {
  z-index: 2;
  position: absolute;
  bottom: 7.2em;
  left: 8%;
  font-size: 2em;
  text-shadow: -1px 1px 1px white;
}

#quiz-section {
  display: flex;
  flex-direction: column;
  bottom: 0;
  background-color: #282a3a;
  color: white;
  z-index: 1;
  width: 90%;
  height: 14em;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 0px 100px black;
  text-shadow: -2px 1px 2px black;
  border: 2px grey solid;
}

#quiz-section h1 {
  font-size: 2em;
}

.quiz-buttons {
  display: flex;
  justify-content: space-between;
}

.quiz-buttons button {
  min-width: 22%;
}

#progress-bar {
  width: 100%;
  height: 2em;
  background-color: #8d8d92;
  position: relative;
  margin-top: 10px;
  border-radius: 10px;
}

#progress-inner {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* StatScreen Component */

#stat-screen {
  display: flex;
  justify-content: top;
  flex-direction: column;
  margin-top: 10px;
  background-color: #1c181f;
  border-radius: 2em;
  height: 100%;
  width: 85%;
  padding: 2em 2em 2em 2em;
  /* gap: -0em; */
}

.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.top-section>div,
.bottom-section {
  background-color: #342b3b;
  /* box-shadow: -2px 1px 5px #21242b; */
  border-radius: 2em;
}

.player-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68%;
}

.player-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 2em;
  filter: blur(3px)
}

.player-closeup {
  filter: drop-shadow(-1px 2px 7px black);
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: 1;

}

.player-closeup:hover {
  animation-name: shake;
  animation-duration: 0.5s;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 30%;
  padding-bottom: 1em;
}

.stats h1{
  font-size: 1.5em;
  max-width: 100%;
}

.stats input {
  -webkit-appearance: none;
  width: 90%;
  height: 25px;
  background: #c6bbb9;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: .5em;
}

.stats input:hover {
  opacity: 1;
}

.stats input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 25px;
  background: #dc72d0;
  cursor: pointer;
  border-radius: .5em;
}

.stats button {
  width: 80%;
}

.mid-text {
  width: 95%;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-section {
  padding: 0em 1.5em 1em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50%;
}

.planet-gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.gallery-item {
  position: relative;
  width: 15%;
  height: fit-content;
  padding-top: .5em;
}

/* .gallery-item:hover {
  transition-duration: .2s;
  filter: drop-shadow(-3px 3px 5px black);
  transform: scale(1.01);
} */

.gallery-planet {
  width: 100%;
}

.gallery-inhabitant {
  position: absolute;
  width: 20%;
  left: 4.5em
}

.stat-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.stat-buttons button {
  width: 49%;
}

.log-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap:30px
}

.log-card{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px white solid;
  width:  30%;
  min-height: 10em;
}

/* Animations */

@keyframes floating {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}